<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet"  href="/css/styles.css">
    <title>TinyApp</title>
    <link rel="stylesheet" href="/public/stylesheet/style.css">
  </head>
  
  <header>
    
    <nav>
      <div class="link-container">
        <span class="logo-link">
          <a href="/urls">TinyApp</a>
        </span>
          <span class="page-links">
            <a href="/urls">My URLs</a>
            <a href="/urls/new">Create New URL</a>
          </span>
      </div>
      <div class="nav-buttons">
        <% if (user) { %>
          <form action="/logout" method="POST" class="logged-in-state">
            <p>Logged in as <%= user.email %> </p>
            <button type="submit">Logout</button>
          </form>
          <% } else { %>
          <form action="/login" method="GET">
            <button type="submit">Login</button>
          </form>
          <form action="/register" method="GET">
            <button type="submit">Register</button>
          </form>
          <% } %>
      </div>
    </nav>
  </header>
</html>