<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Pacifico&display=swap"
      rel="stylesheet"
    />
    <title>New URL - TinyApp Example</title>
  </head>
  <header>
    <header><%- include('partials/_header') %></header>
  </header>
  <body >
    <main style="width: 200px; margin: auto;">
      <form action="/login" method="POST">
        <h3>Login</h3>
        <div style="width: 200px;">
          <label for="email" style="margin-top: 1.5em">Email  address</label>
          <input  type="email" name="email" placeholder="user@example.com" style="width: 100%;">
          <label for="password" >Password</label>
          <input type="password" name="password" placeholder="password" style="width: 100%;">
          <button type="submit" style="width: 100%; margin-top: 1em; cursor: pointer;">Login</button>
        </div>
      </form>
    </main>
  </body>
</html>