<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
   <link
     href="https://fonts.googleapis.com/css?family=Pacifico&display=swap"
     rel="stylesheet"
   />
    <title>Register - TinyApp Example</title>
  </head>

  <body>
    <header>
      <header><%- include('partials/_header') %></header>
    </header>
    <main>
      <h3>Create account</h3>
      <form  action="/register" method="POST" style="margin-top: 1em;">
        <div>
          <label for="email" >Email address</label>
          <input  type="email" name="email" placeholder="user@example.com" >
          <label for="password" >Password</label>
          <input  type="password" name="password" placeholder="password"  >
          <button type="submit">Register</button>
        </div>
      </form>
    </main>
  </body>
</html>