<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"  href="/css/styles.css">
   <link
     href="https://fonts.googleapis.com/css?family=Pacifico&display=swap"
     rel="stylesheet"
   />
    <title>Register - TinyApp Example</title>
  </head>

  <body>
    <header>
      <header><%- include('partials/_header') %></header>
    </header>
    <main class="login-form">
      <form action="/register" method="POST" >
        <h3>Signup</h3>
          <label for="email" >Email  address:</label>
          <input  type="email" name="email" placeholder="user@example.com" class="css-input">
          <label for="password" >Password:</label>
          <input type="password" name="password" placeholder="password" class="css-input" >
          <button type="submit" class="login-btn" >Login</button>
      </form>
    </main>
  </body>
</html>